apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-webserver
  namespace: fraud-detection
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-webserver
  template:
    metadata:
      labels:
        app: airflow-webserver
    spec:
      containers:
      - name: airflow-webserver
        image: fraud-detection-airflow:latest
        imagePullPolicy: Never
        command: ["airflow", "webserver"]
        ports:
        - containerPort: 8080
        env:
        - name: AIRFLOW__CORE__EXECUTOR
          value: LocalExecutor
        - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
          value: sqlite:////opt/airflow/airflow.db
        - name: AIRFLOW__CORE__LOAD_EXAMPLES
          value: "false"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-scheduler
  namespace: fraud-detection
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-scheduler
  template:
    metadata:
      labels:
        app: airflow-scheduler
    spec:
      containers:
      - name: airflow-scheduler
        image: fraud-detection-airflow:latest
        imagePullPolicy: Never
        command: ["airflow", "scheduler"]
        env:
        - name: AIRFLOW__CORE__EXECUTOR
          value: LocalExecutor
        - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
          value: sqlite:////opt/airflow/airflow.db
        - name: AIRFLOW__CORE__LOAD_EXAMPLES
          value: "false"
---
apiVersion: v1
kind: Service
metadata:
  name: airflow-webserver
  namespace: fraud-detection
spec:
  selector:
    app: airflow-webserver
  ports:
  - port: 8080
    targetPort: 8080
  type: LoadBalancer
